.datum-box {
  background-color: #fff;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.datum::-webkit-datetime-edit {
  padding: 1em;
}
.datum::-webkit-datetime-edit-text {
  color: black;
  padding: 0 0.3em;
}
.datum::-webkit-datetime-edit-month-field {
  color: black;
}
.datum::-webkit-datetime-edit-day-field {
  color: black;
}
.datum::-webkit-datetime-edit-year-field {
  color: black;
}
.datum::-webkit-inner-spin-button {
  display: none;
}
.datum::-webkit-calendar-picker-indicator {
  /* background: orange; */
}
