* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Laila", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

.firstprev::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd97283;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffd972;
}

body {
  overflow-x: hidden;
}
.background {
  background-image: url("../img-reisbureau/beach.png");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background header {
  width: 100%;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.logo {
  height: 80px;
  /* width: 20%; */
}
.logo a img {
  height: 100%;
  border-radius: 10px;
}
header ul {
  display: flex;
  /* width: 80%; */
  flex-grow: 1;
  height: 80px;
  /* margin-left: 150px; */
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  /* gap: 10vw; */
  box-sizing: border-box;
}
header ul li {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul a:hover {
  font-weight: bolder;
}

header .box {
  display: flex;
  align-items: center;
  gap: 3px;
}

header .box img {
  height: 30px;
}

header .box * {
  color: #ffd972;
}
